################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Lukova-Vera-kt-42-22/FileContentIndex/82b74719-6c76-4095-adb1-e165a84d1a56.vsidx
